<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>
	</head>
	<body>
		{% extends "index.html" %} Someone asked for password reset for email {{
		email }}. Follow the link below: {{ protocol }}://{{ domain }}{% url
		"password_reset_confirm" uidb64=uid token=token %} Your username, in
		case you've forgotten: {{ user.get_username }}
	</body>
</html>
